
@import url("https://fonts.googleapis.com/css2?family=Poppins");

body {
  
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', cursive;
  background-image: url("https://img.freepik.com/free-vector/gradient-pastel-color-background_23-2149360873.jpg?w=740&t=st=1681398945~exp=1681399545~hmac=4f0bf02443adba1d0e4087b422f541f90cfb16b2cbab1a0e14e5482bd590255f");
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  background-size: cover;
  font-family: 'Poppins', cursive;
  max-width: 100%;
}
ul li{
display: inline;

}
nav a{
  margin-right: 50px;
  max-width: 100%;
  text-align: center;
}
nav a:hover{
  letter-spacing: 1px;
}
a{
  color: rgb(255, 252, 252);
  font-size: 16px;
  text-decoration: none;
  margin: 10px 0;
  transition: 0.2s ease-in-out;
  padding: 3px;
  border-radius: 10px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  position: relative;
  max-width: 100%;
  font-family: 'Poppins', cursive;
}
a:hover{
  color: #ffffff;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

select, input{
    width: 200px;
    padding: 10px;
    margin-bottom: 2px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.przycisk{
    background-color: #333;
    color: #fff;
    padding: 10px 50px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transition: 0.3s ease-in-out;
    letter-spacing: 3px;
    font-size: 15px;
    font-family: 'Poppins', cursive;
    margin-top: 10px;
  
  }
.przycisk:hover{
    letter-spacing: 4px;
  }
  .przycisk:active{
    transform: scale(0.95);
  }
  .przycisk:focus{
    outline: none;
  }
  .przycisk[type="submit"]:hover {
    background-color: #555;
  }
  .przycisk {
    cursor: pointer;
  }
label {
    display: block;
    margin-bottom: 5px;
}
table {
        background-color: #f9f9f9;
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #555;
        color: white;
    }

   
    tr:hover {
  border-bottom: 2px solid red;
}
h1, h3{
	text-align: center;
	
}