
  @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Monoton&family=Permanent+Marker&family=Spectral:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
  @import url("https://fonts.googleapis.com/css2?family=Poppins");
  *{
    box-sizing: border-box;
}
  body{
    background-image: url('https://img.freepik.com/free-vector/people-exercising-fitness-gym-room-with-sport-equipment-workouts-woman-men-training-treadmill-bike-lifting-dumbbells-healthy-lifestyle_575670-1883.jpg?w=996&t=st=1681394086~exp=1681394686~hmac=8e5e563692e97babcf48681e4980f31f37a63c3d068cea1ff503fae4225e1ad6');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    background-size: cover;
    font-family:"Poppins", cursive;
    max-width: 100%;
}
ul li{
  display: inline;
 
}
nav a{
    margin-right: 50px;
    max-width: 100%;
    text-align: center;
}
nav a:hover{
    letter-spacing: 2px;
}
a{
    color: rgb(128, 24, 138);
    font-size: 17px;
    text-decoration: none;
    margin: 15px 0;
    transition: 0.2s ease-in-out;
    padding: 3px;
    border-radius: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    max-width: 100%;
}
a:hover{
    color: #ffffff;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  margin-left: 100px;
  margin-top: 50px;
 
}

h1 {
	width: 29ch;
	color: rgb(71,8,78);
	font-size: 28px;
	font-family: 'Spectral', serif;
	text-shadow: -1px 0 white, 0 2px white, 1px 0 white, 0 -1px white;
	font-family: "Poppins", cursive;
	filter: drop-shadow(0 0 2px purple) drop-shadow(0 0 2px white) drop-shadow(0 0 2px purple);
	overflow: hidden;
	border-right: 3px solid;
	white-space: nowrap;
	animation: typing 2.5s steps(21), blink-cursor 0.5s infinite step-end alternate, fade-border 0.5s 2.5s forwards;
}

h2 {
	width: 29ch;
	color: rgb(71,8,78);
	font-size: 28px;
	font-family: 'Spectral', serif;
	text-shadow: -1px 0 white, 0 2px white, 1px 0 white, 0 -1px white;
	font-family: "Poppins", cursive;
	filter: drop-shadow(0 0 2px purple) drop-shadow(0 0 2px white) drop-shadow(0 0 2px purple);
	overflow: hidden;
	border-right: 3px solid;
	white-space: nowrap;
	animation: typing 2.5s steps(21), blink-cursor 0.5s infinite step-end alternate, fade-border 0.5s 2.5s forwards;
}

@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes blink-cursor {
	0% {
		border-color: transparent;
	}
	50% {
		border-color: pink;
	}
	100% {
		border-color: transparent;
	}
}

@keyframes fade-border {
	to {
		border-right-color: transparent;
	}
}


.opis {
    
   margin-top: 30px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border: 15px solid rgba(249, 179, 255, 0.75);
    border-top: 10px solid rgba(206, 190, 255, 0.75);
    border-left: 5px solid rgba(146, 138, 173, 0.75);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background-color: #494747;

  }
.opis p{
    text-align: justify;
    padding-right: 20px;
    padding-left: 20px;
    font-family:"Poppins", cursive;
    font-size: 17px;
    color: white;
  }
  p{
    margin-bottom: 5px;
  }
  .wymarzona-sylwetka{
    color: rgb(233, 100, 215);
  }
.button {
    display: inline-block;
    padding: 25px 5px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
    box-shadow: 0px 0px 5px #666;
  }
  
  .footer {
    position: relative;
    margin-top: 35px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
  }
span {
    margin-right: 80px;
  }
i{
    margin-right: 10px;
}